:root{
    --invertValue: 70%;
    --ShowLightIcon: block;
    --HideLightIcon: none;
    --ShowCVd: block;
    --ShowCVl: none;
    --backgrondColor: #505050;
    --textColor: #e0e0e0;
    --navbarColor: #252525;
    --navbarText: #e6e6e6;
    --filterInvert: 78%;
    --filterSepia: 87%;
    --filterSaturate: 937%;
    --filterHue: 141deg;
    --filterBrightness: 103%;
    --filterContrast: 103%;
    --showOpacity: 1;
    --hideOpacity: 0;
    --transitionDuration: 0.7s;
}

:root:has(#darkmode-toggle:checked){
    --invertValue: 30%;
    --ShowLightIcon: none;
    --HideLightIcon: block;
    --ShowCVd: none;
    --ShowCVl: block;
    --backgrondColor: #e6e6e6;
    --textColor: #202020;
    --navbarColor: #cdcdcd;
    --navbarText: #252525;
    --filterInvert: 14%;
    --filterSepia: 96%;
    --filterSaturate: 4381%;
    --filterHue: 242deg;
    --filterBrightness: 70%;
    --filterContrast: 149%;
    --showOpacity: 0;
    --hideOpacity: 1;
}

* {
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
*::-webkit-scrollbar {
    display: none;
}

body{
    background-color: var(--backgrondColor);
    color: var(--textColor);
    transition-property: color, background-color;
    transition-duration: var(--transitionDuration);
    transition-timing-function: ease;
}

a{
    color: var(--navbarText);
    transition-property: color, background-color;
    transition-duration: var(--transitionDuration);
    transition-timing-function: ease;
}

.navbar{
    background-color: var(--navbarColor);
    transition-property: color, background-color;
    transition-duration: var(--transitionDuration);
    transition-timing-function: ease;
}

.nav-link{
    color: var(--navbarText);
}

.navbar-toggler-icon{
    filter: invert(var(--invertValue));
}

.navLogo{
    filter: invert(var(--filterInvert)) sepia(var(--filterSepia)) saturate(var(--filterSaturate)) hue-rotate(var(--filterHue)) brightness(var(--filterBrightness)) contrast(var(--filterContrast));
    transition-property: filter;
    transition-duration: var(--transitionDuration);
    transition-timing-function: ease-in-out;
}

.imageBox{
    width: 30px;
    height: 40px;
}
.imageBox .lightIconOff{
    display: var(--ShowLightIcon);
    transform: scaleY(-1); filter: invert(var(--invertValue));
}
.imageBox:hover .lightIconOff{
    display: var(--HideLightIcon);
    transform: scaleY(-1); filter: invert(var(--invertValue));
}
.imageBox .lightIconOn{
    display: var(--HideLightIcon);
    transform: scaleY(-1); filter: invert(var(--invertValue));
}
.imageBox:hover .lightIconOn{
    display: var(--ShowLightIcon);
    transform: scaleY(-1); filter: invert(var(--invertValue));
}

.CVd{
    display: var(--ShowCVd);
}

.CVl{
    display: var(--ShowCVl);
}

input{
    width: 0;
    height: 0;
    display: none;
}

.profilePictureDark{
    display: var(--ShowLightIcon);
    opacity: var(--showOpacity);
    border-radius: 10px;
}

.profilePictureLight{
    display: var(--HideLightIcon);
    opacity: var(--hideOpacity);
    border-radius: 10px;
}

footer{
    padding-top: 5px;
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--navbarColor);
    color: var(--navbarText);
    text-align: center;
    font-size: small;
    transition-property: color, background-color;
    transition-duration: var(--transitionDuration);
    transition-timing-function: ease;
}

footer p{
    margin-bottom: 5px;
}